.container {
  position: relative;
  width: 100vw;
  height: 50rem;
}

.uiDesigner,
.frontEndEngineer {
  position: absolute;
  width: 55%;
  height: 100%;
}

.uiDesigner {
  left: 2rem;
}

.frontEndEngineer {
  right: 0;
}

@media all and (max-width: 800px) {
  .container {
    height: 40rem;
  }
}
